* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(217,219,213,1) 15%);
}

img {
width: 100%;
}

i {
    color: rgba(128, 128, 128, 0.953);
}

ul, ol, menu {
    list-style: none;
}

#app {
    max-width: 90%;
    height: 95%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.spin {
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 200ms;
    animation-iteration-count: 1;
}

@keyframes spin {
    from {
        transform: rotate(200deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* #region Utility Class */
.visible {
    display: block!important;
}

.not-visible {
    display: none!important;
}

.fs-15 {
    font-size: 15px;
}

.text-green {
    color: rgb(60, 97, 4);
}

.active {
    background-color: rgba(128, 128, 128, 0.405);
}
.color-grey {
    color: rgba(128, 128, 128, 0.504);
}

.align-start {
    align-self: flex-start;
}
.p-1 {
    padding: 0.50rem;
}
.py-1 {
    padding: 0.50rem 0;
}

.px-3 {
    padding: 0 3rem;
}

.pt-3 {
    padding-top: 3rem;
}

.p-3 {
    padding: 0.5rem;
}

.text-und {
    text-decoration: underline;
}

.text-grey {
    color: grey;
}

.fs-12 {
    font-size: 14px;
}

/* #endregion Utility Class */

/* #region Layout Base */


.sidebar {
    width: 320px;
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;

}

/* #endregion Layout Base */

/* #region Sidebar */

.contacts
.contact {
    border-top: 1px solid rgba(128, 128, 128, 0.505);
}

.toolbar i {
    padding-right: 10px;
}

.toolbar,
.contact {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 6px;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.contact_name {
    margin-right: auto;
}
    

.search_tool input {
    width: 100%;
    padding-left: 35px;
    height: 30px;
    border: none;
    outline: none;
}

.search_tool {
    background-color: rgba(128, 128, 128, 0.352);
    padding: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.glass {
    background-color: white;
    height: 30px;
}

.icon_glass {
    line-height: 30px!important;
    padding-left: 15px;
}


/* Sidebar Notifies */

.notifies {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: aqua;
    padding: 10px;
}

.notifies .box_bell {
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_time {
    color: rgba(128, 128, 128, 0.504);
    font-size: 14px;
    font-weight: bold
}

/* #endregion Sidebar */

/* #region Messages Space */ 
.chat {
    overflow: scroll;
}

.container-messages {
    background-image: url(../assets/mine.jpg);
    background-size: cover;
    flex-grow: 1;
}
.messages {
    
    display: flex;
    flex-direction: column;
    
}
    

.box_mex {
    padding: 5px 15px 15px 15px;
    border-radius: 5px;
    min-width: 150px;
}

.sent {
    background-color: greenyellow;
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}

.write_message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.352);
    padding: 10px;
}

.write_message input {
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    outline: none;
}

.message_time {
    text-align: end;
    padding: 10px 5px 0px 0px;
    font-size: 12px;
}

.icon-message {
    font-size: 12px;
    padding-bottom: 5px;
    text-align: end!important;
    position: relative;
}

.window-option {
    z-index: 999;
    position: absolute;
    background-color: beige;
    right: 0;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
}
    
    


/* #endregion Messages Space */

/* #region Hover and Focus */ 

.contact:hover {
    background-color: rgba(128, 128, 128, 0.405);
}

/* #endregion Hover */








    
    







    

    


    




