<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZapp</title>
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <div class="sidebar">
            <div class="toolbar">
                <figure class="avatar">
                    <img src="./assets/avatar_1.jpg" alt="">
                </figure>
                <div class="contact_name">
                    <h3>Sofia</h3>
                </div>
                <i class="fa-solid fa-circle-dot"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
                    
            <div class="notifies">
                <div class="box_bell">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p class="text-und text-grey">Attiva notifiche desktop</p>
                </div>
            </div>
            <div class="search_tool">
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="filter">
            </div>
            <ul class="contacts fs-12">
                <li v-for="(contact,index) in contacts"
                    @click="setCurrentContact(index)"
                    v-show="contact.name.includes(filter)" 
                    class="contact">
                    <figure class="avatar">
                        <img :src="contact.avatar" alt="">
                    </figure>
                    <div class="contact_name">
                        <h3>{{contact.name}}</h3>
                        <p class="color-grey py-1">Ultimo messaggio inviato</p>
                    </div>
                    <p class="align-start p-1 contact_time">12:00</p>
                </li>
            </ul>
                    
        </div>
        <div class="chat">
            <div class="toolbar">
                <figure class="avatar">
                    <img :src="contacts[currentContact].avatar" alt="">
                </figure>
                <div class="contact_name">
                    <h3>{{contacts[currentContact].name}}</h3>
                    <p>Data 12:00</p>
                </div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="container-messages">
                <div class="messages px-3 pt-3"
                    v-for="message in contacts[currentContact].messages">
                    <div class="box_mex"
                        :class="message.status==='sent' ?  'sent' : 'received'">
                        <p>{{message.message}}</p>
                        <div class="message_time">12:00</div>
                    </div>
                </div>
            </div>
            <div class="write_message">
                <i class="fa-solid fa-face-grin p-1"></i>
                <input  type="text" 
                        placeholder="Scrivi nuovo messaggio" 
                        v-model="messageToPush" 
                        @keyup.enter="sentMessagePush">
                <i class="fa-solid fa-microphone p-1"></i>
            </div>
        </div>
    </div>
                

                    
        
                    
        
        
        

    <script src="./js/app.js"></script>
</body>
</html>
    